@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*reset das propriedades css pré-definidas através do seletor universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*criação da classe root que é a mãe detodos os elementos da página. Serão criadas variáveis para facilitar seu uso ao longo do trabalho */
:root{
    --color-p: #a1a1a1
    --color-p-2: #868585;
    --50: #dfeffb;
    --100: #d7e8e9;
    --200: #5974b9;
    --300: #6493b5;
    --500: #223d81;
    --degrade-btn: linear-gradient(#6493b5,#5974b9);
}

.background-azul{
    background: var(--50);
}

/*classes reutilizaveis */
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
.btn-gradiente{
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: var(--degrade-btn) ;
}
section
{
    padding: 2.7rem 0;
}

/*classes do site */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color: var(--300);
}

.ul{
    display: flex;
}
.ul li{
    margin: auto 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.ul li a{
    color: var(--500);
    border-radius: 5px ;
    transition: 0.3s;
}
.ul li a:hover{
    background-color: var(--500);
    color: var(--100);
    padding: 8px;

}





/*main*/
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.main-texto{
    width: 50%;
    color: var(--500)
}
.main-texto h1{
    font-size: 4.5rem;
}
.main-texto div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;
}
/*menu-icone*/
.menu-icone{
    display: none;
    position: relative;
    z-index: 10;

}
/*resultados*/
.resultados{
    background: var(--500);
}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultados-texto{
    color: var(--50);
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numeros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--50);
}
.resultados .resultados-numeros p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.resultados .resultados-numeros p span{
    font-size: 25px;
    font-weight: 600;
}
/*footer*/

.footer-bottom{
    font-size: small;
    font-weight: bold;
    background-color: var(--200);
    color: var(--100);
    text-align: center;
    padding: 10px;
}
/*diferenciais*/
.diferenciais .card{
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}
.diferenciais .card:hover{
    background-color: var(--50);
    box-shadow: 10px 10px 30px 8px var(--200);

}
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferenciais .card img{
    width: 150px;
}
.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}
    
/*responsivo*/
@media (max-width: 960px){
    .menu-icone{
        display: block;
    }
    .ul{
        position: fixed;
        background: var(--100);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .ul li{
        font-size: 20px;
        margin: 10px 0;
    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .main-img,
    main .container .main-texto{
        width: 100%;
        text-align: center;
    }
    main .container .main-texto h1{
        font-size: 4rem;
    }
    main .container .main-texto div{
        justify-content: center;
    }
    .resultados .container{
        flex-direction: column;
    }
    .resultados .resultados-texto,
    .resultados .resultados-numeros{
        width: 100%;
        text-align: center;
        flex-direction: column;
        
    }
    .resultados-numeros{
        margin-top: 30px;        
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
        text-align: center;
    }
}
@media (max-width:440px){
    .resultados .resultados-numeros{
        flex-direction: columns;        
    }
    .resultados .resultados-numeros p{
        margin: 10px;
    }
    main .container .main-texto h1{
        font-size: 3rem;
    }
}